@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: rgb(143, 102, 81);
  color: white;
  padding: 20px;
  font-size: 1.4rem;
  box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
}

nav {
  display: flex;
  justify-content: space-around;
}

.nav-button {
  border-bottom: 3px solid black;
  padding: 15px 40px;
  /* border-radius: 15px; */
}

.nav-button:hover {
  transform: scale(1.05, 1.05);
  transition: transform 0.5s;
  cursor: pointer;
}

.main-res-name,
.main-review {
  text-align: center;
}

.main-review {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50%;
  border: 2px black solid;
  border-radius: 15px;
  padding: 10px 20px;
}

.ramen-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-pic {
  height: 400px;
  width: 500px;
  border-radius: 15px;
}

.active {
  background-color: rgb(90, 64, 51);
  border-radius: 15px;
}
.opening-hours-container {
  width: 40vw;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.opening-hours-str {
  border-bottom: 2px solid red;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.menu-img {
  object-fit: cover;
  width: 400px;
  height: 500px;
  border-radius: 15px;
}

.menu-name {
  font-size: 2rem;
  margin: 10px;
}

.menu-desc {
  margin: 0;
}

.contact-head {
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 3px red solid;
  width: 20%;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.location-img {
  border: 2px solid black;
  border-radius: 15px;
}
